/* graphical charter

color : #c00000
        #baa56f
        #404040
        
        
font-familly : - titre principaux : font-family: 'Noto Serif', serif;
               - titre secondaire : font-family: 'Dosis', sans-serif;

*/

/*=======GENERAL========*/

html {
        scroll-behavior: smooth;
}

h1 {
        font-family: 'Noto Serif', serif;    
}

h2, h3, h4, h5 {
        font-family: 'Dosis', sans-serif; 
}

/*=======HEADER=========*/

/*promo*/

.promo {
        background-color: #c00000;
        color: #fff;
}

.contain a{
        display: block;
        text-decoration: none;
        color: #fff;
}

/*nav*/

.navbar {
        z-index: 2000;
        transition: 2s;
        box-shadow: 0 4px 2px -2px rgba(112, 112, 112, 0.3);
}


.navbar-brand {
        display: block;
        margin: auto;
        width: 70px;
}

#title-logo {
        font-size: 1.6em;
        font-weight: 900;
        color: #baa56f;
        font-family: 'Noto Serif', serif;
}

.navbar-nav {
        margin: auto;
}
.navbar-light .navbar-nav .nav-link {
        color: #c00000;

}

.nav-link {
        text-decoration: none;
        margin: 0 30px;
        color: #c00000;
        border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
        background-color: #c00000;
        transition: 1s;
}

button {
        margin-top: 20px;
}

.red-box {
        background-color: #c00000;
        color: #fff;
        margin: auto;
        padding: 10px 20px;
        border-radius: 10px;
}

.red-box:hover {
        background-color: none;
        text-decoration: none;
        color: #fff;
}

.link-social {
        margin: 5px 10px;
}



/*fil d'ariane*/

.fil-ariane {
        text-align: left;
}


/*=======MAIN=========*/

#main-title {
        text-align: center;
        color: #baa56f;
        margin-bottom: 40px;
        font-weight: 900;
}

.bloc-categorie {
        margin-bottom: 30px;
}


.contain-two h2, p, a {
        text-align: center;
        margin: 10px auto;
        padding: 0;
}

.contain-two h2 {
        font-size: 2em;
        font-weight: 900;
}

.contain-two img {
        display: block;
        margin: auto;
}

.contain-two p {
        font-style: italic;
}

.contain-two a {
        text-decoration: none;
        display: block;
        width: 250px;
        background-color: #c00000;
        color: #fff;
        padding: 5px 35px;
        border-radius: 20px;
        transition: 0.5s;
}

.contain-two a:hover {
        transform: scale(1.2);
        transition: 0.5s;
}






/*=======FOOTER=========*/

footer {
        box-shadow: 0 -2px 2px 2px rgba(112, 112, 112, 0.3);
}

footer .container {
        margin-top: 60px;
        padding-top: 15px;
}

.bloc-social-footer {
        margin: auto;
        width: 200px;
        text-align: center;
}

.bloc-social-footer img {
        display: inline-block;
}

.copyright{
        display: flex;
        justify-content: center;
        align-items: center;
}

.bloc-logo-dore {
        text-align: center;
}

.bloc-logo-dore img {
        display: block;
        margin: auto;
}

.bloc-logo-dore span {
        color: #baa56f;
        font-weight: bold;
}




/*CSS AVEC JS*/

/*nav white scroll*/

.navbar.scroll {
        background-color: rgb(255, 255, 255);
        transition: 1s;
        box-shadow: 0 4px 2px -2px rgba(180, 180, 180, .4);
        position: fixed;
        top: 0;
        width: 100%;
    }
